.mb2 {
    margin-bottom: 2rem;
}

.mt2 {
    margin-top: 2rem;
}

.ml6 {
    margin-left: 6rem;
}

.header {
    font-size: 2rem;
    color: mediumpurple;
    height: 3rem;
    width: 80%;
    margin-top: 3rem;
    text-align: center;
    padding-top: 2rem;
}

.container {
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.add-contact {
    background-color: green;
}